<div class="pt-16 hero bg-base-200 min-h-screen min-w-full">
  <div class="hero-content text-center min-w-full">
    <div class="px-15">
      <h1 class="text-5xl font-bold">Hello there</h1>
      <div class="join my-5">
        <div class="dropdown w-30">
          <div tabindex="0" role="button" class="input join-item w-30 flex justify-between items-center cursor-pointer" [style]="loading() ? {'pointer-events': 'none', 'opacity': '0.5'} : {}">
            {{ selectedModel() | titlecase}}
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 opacity-60" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
          </div>
          <ul tabindex="-1" class="dropdown-content menu bg-base-100 rounded-box w-100 shadow-sm text-left border border-base-content/5">
            @for (model of models.keys(); track model) {
            <li (click)="selectedModel.set(txtModel.textContent!.toLowerCase())">
              <div class="flex flex-col items-start gap-0">
                <p #txtModel><strong>{{models.get(model) | titlecase}}</strong></p>
                <p class="text-xs">model: {{model}} </p>
              </div>
            </li>
            }
            <div class="divider my-0"></div>
            <li (click)="selectedModel.set(txtModel.textContent!.toLowerCase())">
              <div class="flex flex-col items-start gap-0">
                <p #txtModel><strong>Compare</strong></p>
                <p class="text-xs">compare the answer from different models to the same question</p>
              </div>
            </li>
          </ul>
        </div>
        <label class="input join-item w-150 outline-none focus:outline-none">
          <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
              <circle cx="11" cy="11" r="8"></circle>
              <path d="m21 21-4.3-4.3"></path>
            </g>
          </svg>
          <input type="text" placeholder="Ask anything" #txtInput [disabled]="loading()" />
        </label>
        <button (click)="onSubmit(txtInput)" class="btn btn-primary join-item" [disabled]="loading()">Search</button>
      </div>
      @if (error()) {
      <div role="alert" class="alert alert-error alert-soft mb-5">
        <span>{{ error() }}</span>
      </div>
      }
      @if (loading()) {
      <div>
        <span class="loading loading-infinity loading-xl text-success my-5"></span>
      </div>
      }
      @if (response()) {
      <div class="text-justify textarea py-6 min-w-full overflow-y-auto max-h-[calc(100vh-4rem-10rem)]">
        <h3 class="text-xl text-accent font-bold">Question:</h3>
        {{query()}}
        <br>
        <br>
        @if (typeof response() != 'string') {
        <div class="join w-full">
          @for (res of response(); track $index) {
          <div class="join-item p-5 border border-base-content/5">
            <app-chart [chartData]="ragService.chartData()"></app-chart>
            <h3 class="text-xl text-accent font-bold">{{ models.get(res[0]) | titlecase}}</h3>
            <br>
            <p [innerHTML]="res[1]"></p>
          </div>
          }
        </div>
        } @else {
        <div>
          <app-chart [chartData]="ragService.chartData()"></app-chart>
          <h3 class="text-xl text-accent font-bold">Answer:</h3>
          <p [innerHTML]="response()"></p>
        </div>
        }
      </div>
      }
    </div>
  </div>
</div>