<div class="hero bg-base-200 min-h-screen min-w-full">
  <div class="hero-content text-center">
    <div>
      <h1 class="text-5xl font-bold">Hello there</h1>
      <div class="join py-6 mt-5">
        <label class="input validator join-item w-100">
          <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
              <circle cx="11" cy="11" r="8"></circle>
              <path d="m21 21-4.3-4.3"></path>
            </g>
          </svg>
          <input type="text" placeholder="Ask anything" #txtInput [disabled]="loading()" />
        </label>
        <button (click)="onSubmit(txtInput)" class="btn btn-primary join-item" [disabled]="loading()">Search</button>
      </div>
      @if (hasError()) {
      <div role="alert" class="alert alert-error alert-soft mb-5">
        <span>Error! Please don't submit an empty query</span>
      </div>
      }
      @if (loading()) {
      <div>
        <span class="loading loading-infinity loading-xl text-success my-5"></span>
      </div>
      }
      @if (response()) {
      <div class="text-justify textarea py-6 min-w-full">
        <h3 class="text-xl text-accent font-bold">Question:</h3>
        {{query()}}
        <br>
        <br>
        <h3 class="text-xl text-accent font-bold">Answer:</h3>
        <p [innerHTML]="response()"></p>
      </div>
      }
    </div>
  </div>
</div>